/WebApplication_01/nbproject/private/
/WebApplication_01/build/
/WebApplication_02/nbproject/private/
/WebApplication_02/build/
/WebApplication_03_a/nbproject/private/
/WebApplication_03_a/build/
/WebApplication_03_b/nbproject/private/
/WebApplication_03_b/build/
/WebApplication_03_c/nbproject/private/
/WebApplication_03_c/build/
/WebApplication_03_d/nbproject/private/
/WebApplication_03_d/build/
/btvn_slot_03/nbproject/private/
/edu_slot_03/nbproject/private/
/edu_slot_03/build/
/Test/nbproject/private/
/Test/build/
/WebApplication_04_a/nbproject/private/
/WebApplication_04_a/build/
/WebApplication_04_b/nbproject/private/
/WebApplication_04_b/build/
/WebApplication_04_c/nbproject/private/
/WebApplication_04_c/build/
/WebApplication_05_a/nbproject/private/
/WebApplication_05_a/build/
/WebApplication_08/nbproject/private/
/WebApplication_09/nbproject/private/
/WebApplication_09/build/
/WebApplication_10/nbproject/private/
/WebApplication_10/build/
/WebApplication_06/nbproject/private/
/WebApplication_06/build/
/WebApplication_07/nbproject/private/
/WebApplication_07_JSP_b/nbproject/private/
/WebApplication_11/nbproject/private/
/WebApplication_12/nbproject/private/
/WebApplication_13/nbproject/private/
/Workshop1/nbproject/private/
/Workshop1/build/
/Workshop/nbproject/private/
/Workshop/build/
/WebApplication_14/nbproject/private/
/WorkshopT2H/nbproject/private/
/WorkshopT2H/build/
/Workshop01/nbproject/private/
/Workshop01/build/
/WebApplication_15/nbproject/private/
/Workshop02/nbproject/private/
/Workshop02/build/
/WebApplication_08/build/
/Assignment/Assignment/WebApplication1_1/build/
/Assignment/Assignment/WebApplication1_1/dist/
/Assignment/Assignment/WebApplication1_1/nbproject/private/
/Assignment/Assignment/Assignment/build/
/Assignment/Assignment/Assignment/dist/
/Assignment/Assignment/Assignment/nbproject/private/